<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Collectif CONFLUENCE{% endblock %}</title>
	
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/custom.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/login.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/datepicker.css') }}" />
	
	<style type="text/css">
		.container {
		  width: 600px;
		  text-align: center;
		}
	</style>
	
	
  </head>

  <body>
  
  <div class="container">
  		<img src="/bundles/collectiffront/images/logo.png" />		
		<h1>Inscription enregistrée</h1>
		<br/><br/>
	    <p style="text-align: justify;">Vous recevrez un courriel de validation pour votre adhésion au Collectif Confluence après versement de la cotisation de 10 euros à l'ordre du Collectif Confluence par chèque (ou par virement, contacter contact@collectif-confluence.fr) à envoyer à Collectif Confluence, Résidence Le-Val-Croix-Rousse, 10 rue Janin, 69004 Lyon.</p>
		
		<br/><br/>
	    <h2><a href="/">Revenir à l'accueil</a></h2>
	</div>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap-datepicker.js') }}"></script>
	
	
	</body>
</html>