<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Collectif CONFLUENCE{% endblock %}</title>
	
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/custom.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/login.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/datepicker.css') }}" />
		
  </head>

  <body>
  
  {% form_theme form 'CollectifAdminBundle:Form:fields.html.twig' %}
  	<div class="container">
  		<h2>Formulaire d'insciption - Etape 3/4</h2>	
  		<hr/>
  		<h3>Ma page perso</h3>		
		{% block content %}
		    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
		        {{ form_widget(form) }}
		        <div>
		        	<a href="{{ path('collectif_front_homepage') }}" type="button" class="btn btn-warning">Annuler</a>
		        	
		        	<input type="submit" class="btn btn-primary pull-right" value="Continuer" /><br/><br/>
		        </div>
		    </form>    
		{% endblock %}
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Conditions générales</h3>
	  </div>
	  <div class="modal-body">
	    <p>Bordel à cul, le collectif c'est trop cool !!</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>


	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap-datepicker.js') }}"></script>
	
	<script type="text/javascript" src="/bundles/ckfinder/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/bundles/ckfinder/ckfinder.js"></script>
	<script type="text/javascript">
		CKFinder.setupCKEditor( null, '/bundles/ckfinder/' ) ;
	</script>

	<script>		
		$(function() {
	    	$( ".datePicker" ).datepicker({
				format: 'dd/mm/yyyy',
				weekStart: 1
			});
		});
	</script>
	
	</body>
</html>