<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Collectif CONFLUENCE{% endblock %}</title>
	
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/custom.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/login.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/datepicker.css') }}" />
	
	<style type="text/css">
		.container {
		  width: 600px;
		}
	</style>
	
	
  </head>

  <body>

{% form_theme form 'CollectifAdminBundle:Form:fields.html.twig' %}

	<div class="container">
  		<h2>Formulaire d'insciption - Etape 2/4</h2>	
  		<hr/>
  		<h3>Mon CV (PDF seulement)</h3>	
  		
		{% block content %}
		    <form action="" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate >
		        {{ form_widget(form) }}
	        		<a href="{{ path('collectif_front_homepage') }}" type="button" class="btn btn-warning">Annuler</a>
		        	
		        	<input type="submit" class="btn btn-primary pull-right" value="Continuer" /><br/><br/>
				<br/><br/>
			</form> 
		{% endblock %}
	</div>
</body>
</html>