<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="fr-FR">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% block title %}Collectif CONFLUENCE{% endblock %}</title>
	
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/bootstrap.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/custom.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/login.css') }}" />
	<link rel="stylesheet" href="{{ asset('/bundles/collectifadmin/css/datepicker.css') }}" />
	
	<style type="text/css">
		.container {
		  width: 600px;
		}
		.maModale {
			margin-left: 24%;

		}
		.modal {
			width: 700px;
		}
	</style>
	
	
  </head>

  <body>
  
  {% form_theme form 'CollectifAdminBundle:Form:fields.html.twig' %}
  	<div class="container">
  		<h2>Formulaire d'insciption - Etape 4/4</h2>	
  		<hr/>
  		<h3>Activité numérique</h3>		
		{% block content %}
		    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
		        {{ form_widget(form) }}
		        <div>
		        	<a href="{{ path('collectif_front_homepage') }}" type="button" class="btn btn-warning">Annuler</a>
		        	
		        	<a href="#myModal" role="button" class="btn btn-info maModale" data-toggle="modal">Statuts</a>
		        	
		            <input type="submit" class="btn btn-primary pull-right" value="Finaliser" /><br/><br/>
		            
		            <p class="pull-right" style="text-align:right;"><i>* J'ai bien pris connaissance des statuts du Collectif Confluence<br/> et m'engage à les respecter</i></p>
		        </div>
		    </form>    
		{% endblock %}
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Statuts du Collectif Confluence</h3>
	  </div>
	  <div class="modal-body">

<h4>Article 1 &ndash; Nom</h4>

<p>Il est fond&eacute; entre les adh&eacute;rents aux pr&eacute;sents statuts une association d&rsquo;une dur&eacute;e non limit&eacute;e, r&eacute;gie par la loi du 1er juillet 1901 et le d&eacute;cret du 16 ao&ucirc;t 1901 ayant pour nom&nbsp;: &laquo;&nbsp;Collectif Confluence &raquo;.</p>

<h4>Article 2 &ndash; Si&egrave;ge social</h4>

<p>Le si&egrave;ge social est fix&eacute;&nbsp;:</p>

<p>&laquo;&nbsp;Collectif Confluence&nbsp;&raquo;</p>

<p>Maison des &eacute;tudiants</p>

<p>25 rue Jaboulay</p>

<p>69007 Lyon&nbsp;</p>

<p>France</p>

<p>Il pourra &ecirc;tre transf&eacute;r&eacute; sur d&eacute;cision du Bureau.</p>

<h4>Article 3 &ndash; Objets</h4>

<p>3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le but du Collectif Confluence est de promouvoir les jeunes chercheurs en sciences humaines et sociales, lettres et arts&nbsp;: c&rsquo;est-&agrave;-dire toute personne s&rsquo;inscrivant dans une d&eacute;marche de recherche en sciences humaines et sociales, lettres et arts, et ne jouissant pas du statut de professeur dans l&rsquo;enseignement sup&eacute;rieur ou assimil&eacute;.</p>

<p>3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Collectif Confluence est une communaut&eacute; transdisciplinaire de jeunes chercheurs en sciences humaines et sociales, lettres et arts qui constitue un r&eacute;seau&nbsp;: le &laquo;&nbsp;r&eacute;seau Confluence&nbsp;&raquo;, lequel est organis&eacute; en r&eacute;seau social num&eacute;rique.</p>

<p>3.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Collectif Confluence est une association r&eacute;publicaine, d&eacute;mocratique et citoyenne au service de ses membres, et qui &oelig;uvre &agrave; cr&eacute;er du commun entre les jeunes chercheurs en sciences humaines et sociales, lettres et arts.</p>

<h4>Article 4 &ndash; Activit&eacute;s</h4>

<p>4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Les moyens d&rsquo;action du Collectif Confluence consistent &agrave;&nbsp;:</p>

<ul>
	<li>accorder &agrave; chaque membre une page personnelle de promotion sur le site internet du Collectif o&ugrave; sont rassembl&eacute;es les publications et activit&eacute;s scientifiques.</li>
	<li>organiser des Ateliers du Collectif&nbsp;: rencontres informelles de formation &agrave; la recherche et d&rsquo;entraide entre membres.</li>
	<li>permettre aux membres d&rsquo;intervenir sur leurs travaux lors des Caf&eacute;s jeunes chercheurs&nbsp;: moments de d&eacute;bats et d&rsquo;&eacute;changes o&ugrave; membres pr&eacute;sentent, confrontent et critiquent leurs travaux devant un public non exclusivement universitaire.</li>
	<li>organiser des &eacute;v&eacute;nements &agrave; vocation scientifique et citoyenne.</li>
</ul>

<p>4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Collectif Confluence anime un site internet qui constitue le principal outil de publicisation des activit&eacute;s du Collectif et de ses membres.</p>

<p>4.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Collectif Confluence peut passer des conventions de coop&eacute;ration, d&rsquo;&eacute;change, et des partenariats avec des personnes morales de droit public comme de droit priv&eacute;. Ces conventions peuvent &ecirc;tre n&eacute;goci&eacute;es par tout membre du Bureau, et sont sign&eacute;es par le Pr&eacute;sident apr&egrave;s accord du Bureau. Le Conseil d&rsquo;Administration peut refuser l&rsquo;application d&rsquo;une convention, et ainsi la rendre caduque.</p>

<h4>Article 5 &ndash; Adh&eacute;sions</h4>

<p><span style="line-height:1.6em">5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Les adh&eacute;rents versent une cotisation annuelle, par ann&eacute;e civile, dont le montant est fix&eacute; par le Conseil d&rsquo;Administration. Les adh&eacute;rents inscrits dans les deux derniers trimestres de l&rsquo;ann&eacute;e peuvent verser seulement la moiti&eacute; de la cotisation. Les adh&eacute;sions doivent &ecirc;tre agr&eacute;&eacute;s par le Conseil d&rsquo;Administration.</span></p>

<p><span style="line-height:1.6em">5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Conseil d&rsquo;Administration peut accorder exceptionnellement le statut de membre sans le versement de la cotisation annuelle sur proposition et motivation du Bureau.</span></p>

<p><span style="line-height:1.6em">5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La qualit&eacute; d&rsquo;adh&eacute;rent se perd par le non renouvellement de la cotisation, par d&eacute;mission ou par d&eacute;c&egrave;s. La radiation pour motif grave comme le non respect des pr&eacute;sents statuts, peut &ecirc;tre prononc&eacute;e par le Conseil d&rsquo;Administration suivi d&rsquo;une confirmation du Bureau. Le Secr&eacute;taire g&eacute;n&eacute;ral informe la personne concern&eacute;e des motifs de sa radiation et l&rsquo;invite &agrave; &ecirc;tre auditionn&eacute; devant le Conseil d&rsquo;Administration. Le Pr&eacute;sident veille au respect du contradictoire.</span></p>

<h4>Article 6 &ndash; Conditions d&rsquo;admission</h4>

<p>L&rsquo;adh&eacute;sion au Collectif Confluence s&rsquo;effectue en ligne sur le site du Collectif, en adh&eacute;rant aux pr&eacute;sents statuts par la validation de ceux-ci en ligne.</p>

<h4>Article 7 &ndash; Ressources</h4>

<p>Les ressources du Collectif Confluence r&eacute;sultent des cotisations, dons et subventions re&ccedil;us par le Tr&eacute;sorier ainsi que de l&rsquo;&eacute;ventuel produit des &eacute;v&eacute;nements &agrave; vocation scientifique organis&eacute;s, lesquels n&rsquo;ont pas de but lucratif.</p>

<p>Le Tr&eacute;sorier v&eacute;rifie la r&eacute;gularit&eacute; des op&eacute;rations financi&egrave;res. Il informe r&eacute;guli&egrave;rement le Bureau des ressources et des d&eacute;penses.</p>

<p>Le remboursement des frais de mission doit &ecirc;tre justifi&eacute; et soumis au Bureau.</p>

<p>L&rsquo;exercice comptable du Collectif Confluence s&rsquo;&eacute;tablit du 1er janvier au 31 d&eacute;cembre de chaque ann&eacute;e.</p>

<h4>Article&nbsp; 8 &ndash; Conseil d&rsquo;Administration et Bureau</h4>

<p><em style="line-height:1.6em">8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conseil d&rsquo;Administration</em></p>

<p><span style="line-height:1.6em">Le Collectif Confluence est administr&eacute; par un Conseil d&rsquo;Administration &eacute;lu par l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Ordinaire. Il est le mandataire des membres.</span></p>

<p>Toutes les d&eacute;cisions du Conseil d&rsquo;Administration sont prises &agrave; la majorit&eacute; simple des pr&eacute;sents ou repr&eacute;sent&eacute;s sans condition de quorum.</p>

<p>La dur&eacute;e de fonction des administrateurs est de une ann&eacute;e, chaque ann&eacute;e s&rsquo;entendant de l&rsquo;intervalle s&eacute;parant deux Assembl&eacute;es G&eacute;n&eacute;rales Ordinaires.</p>

<p>L&rsquo;&eacute;lection se fait au scrutin plurinominal. Les candidatures sont d&eacute;clar&eacute;es &agrave; l&rsquo;ouverture de l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Ordinaire. Un premier tour de scrutin a lieu. Sont &eacute;lus les candidats ayant obtenu la majorit&eacute; absolue des voix exprim&eacute;es. Au second tour, les candidats non &eacute;lus au premier tour peuvent &ecirc;tre seuls candidats &agrave; nouveau. Tout administrateur sortant est r&eacute;&eacute;ligible sans limitation.</p>

<p>Tout membre candidat ou &eacute;lu &agrave; un mandat associatif, syndical ou politique, peut se pr&eacute;senter aux &eacute;lections au Conseil d&rsquo;Administration dans la mesure o&ugrave; il respecte les valeurs r&eacute;publicaines, d&eacute;mocratiques et citoyennes du Collectif Confluence. En cas de litige, le Conseil d&rsquo;Administration sortant statue.</p>

<p><em>8</em><em>.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bureau du Conseil d&rsquo;Administration</em></p>

<p>Le Conseil d&rsquo;Administration &eacute;lit chaque ann&eacute;e parmi ses administrateurs le Bureau compos&eacute; de &nbsp;:</p>

<ul>
	<li>un Pr&eacute;sident</li>
	<li>un Secr&eacute;taire g&eacute;n&eacute;ral</li>
	<li>un Tr&eacute;sorier</li>
	<li>des Secr&eacute;taires r&eacute;gionaux</li>
</ul>

<p>La distinction de Vice-pr&eacute;sident peut &ecirc;tre accord&eacute;e &agrave; titre honorifique &agrave; un membre par le Conseil d&rsquo;Administration.</p>

<p><em>8.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pouvoirs du Bureau</em></p>

<p>Le Bureau est investi des pouvoirs les plus &eacute;tendus pour agir au nom du Collectif Confluence et faire ou autoriser tous actes et op&eacute;rations qui ne sont pas r&eacute;serv&eacute;s au Conseil d&rsquo;Administration et &agrave; l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale.</p>

<ol>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>D&eacute;l&eacute;gation de pouvoirs</em></li>
</ol>

<p>Le Bureau est au service des membres et charg&eacute; de l&rsquo;ex&eacute;cution des d&eacute;cisions du Conseil d&rsquo;Administration.</p>

<p><span style="line-height:1.6em">Le Pr&eacute;sident est le garant du bon fonctionnement du Collectif Confluence. Il est le seul habilit&eacute; &agrave; ester en justice au nom du Collectif. Il peut proc&eacute;der &agrave; des consultations de l&rsquo;ensemble des membres sur n&rsquo;importe quel sujet traitant de l&rsquo;administration du Collectif, lesquelles n&rsquo;ont pas de valeur obligatoire. Il peut d&eacute;l&eacute;guer sa signature apr&egrave;s notification au Conseil d&rsquo;Administration. Il a voix pr&eacute;pond&eacute;rante en cas d&rsquo;&eacute;galit&eacute; et arbitre les conflits.</span></p>

<p>Le Tr&eacute;sorier tient les comptes du Collectif Confluence, et sous la surveillance du Bureau, effectue tous paiements et re&ccedil;oit toute somme.</p>

<p>Le Secr&eacute;taire g&eacute;n&eacute;ral est charg&eacute; des convocations, de la r&eacute;daction des proc&egrave;s-verbaux, de la correspondance et de la tenue du registre prescrites par l&rsquo;article 5 de la loi du 1er juillet 1901.</p>

<p>Les Secr&eacute;taires r&eacute;gionaux sont en charge du bon fonctionnement du Collectif Confluence. Ils sont charg&eacute;s de l&rsquo;organisation des Ateliers du Collectif et des Caf&eacute;s jeunes chercheurs. Ils rendent compte de leurs actions devant le Conseil d&rsquo;Administration, mais disposent de l&rsquo;autonomie. Ils peuvent recourir &agrave; la d&eacute;l&eacute;gation de t&acirc;ches aupr&egrave;s de membres apr&egrave;s accord du Conseil d&rsquo;Administration.</p>

<ol>
	<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Convocations et ordre du jour</em></li>
</ol>

<p>Le Conseil d&rsquo;Administration se r&eacute;unit autant que de besoin sur demande du Pr&eacute;sident<strong>. </strong>La date est fix&eacute;e par le Pr&eacute;sident.</p>

<p>Le Bureau se r&eacute;unit autant que de besoin sur demande du Pr&eacute;sident. La date est fix&eacute;e par le Pr&eacute;sident.</p>

<p>Les convocations pour les Assembl&eacute;es G&eacute;n&eacute;rales Ordinaires et Extraordinaires sont r&eacute;alis&eacute;es par le Pr&eacute;sident, au moins 15 jours &agrave; l&rsquo;avance par courriel indiquant sommairement l&rsquo;objet de la r&eacute;union. L&rsquo;ordre du jour est fix&eacute; par le Conseil d&rsquo;Administration.</p>

<p>Chaque membre a acc&egrave;s aux proc&egrave;s-verbaux du Bureau et du Conseil d&rsquo;Administration et peut assister &agrave; leurs r&eacute;unions, sauf d&eacute;cision contraire et motiv&eacute;e du Bureau.</p>

<h4>Article 9 - Assembl&eacute;es G&eacute;n&eacute;rales</h4>

<p>9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Assembl&eacute;e G&eacute;n&eacute;rale Ordinaire</p>

<p>L&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Ordinaire, convoqu&eacute;e par le Pr&eacute;sident, se r&eacute;unit et d&eacute;lib&egrave;re selon les modalit&eacute;s fix&eacute;es par la loi, au moins une fois par an.</p>

<p>Elle se prononce sur le rapport d&rsquo;activit&eacute;, le rapport financier, les orientations du Collectif &nbsp;Confluence et d&eacute;termine le nombre de Secr&eacute;taires r&eacute;gionaux.</p>

<p>Les d&eacute;lib&eacute;rations sont prises &agrave; la majorit&eacute; absolue des voix des membres pr&eacute;sents ou repr&eacute;sent&eacute;s au premier tour ou &agrave; la majorit&eacute; relative des voix des membres pr&eacute;sents ou repr&eacute;sent&eacute;s au second tour, sans condition de quorum.</p>

<p>Les procurations des membres absents donnant pouvoir &agrave; des membres pr&eacute;sents, sont &eacute;crites et sign&eacute;es. Aucun membre ne peut d&eacute;tenir plus d&rsquo;un pouvoir, &agrave; l&rsquo;exception du Pr&eacute;sident sortant.</p>

<p><span style="line-height:1.6em">9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Assembl&eacute;e G&eacute;n&eacute;rale Extraordinaire</span></p>

<p>L&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Extraordinaire, convoqu&eacute;e par le Pr&eacute;sident, est seule comp&eacute;tente pour modifier les statuts, sous r&eacute;serve des exceptions pr&eacute;vues &agrave; l&rsquo;article 2 pour le transfert du si&egrave;ge social.</p>

<p>Ses r&eacute;solutions doivent avoir l&rsquo;approbation des 2/3 des membres pr&eacute;sents ou repr&eacute;sent&eacute;s. Les procurations des membres absents donnant pouvoir &agrave; des membres pr&eacute;sents, sont &eacute;crites et sign&eacute;es. Aucun membre ne peut d&eacute;tenir plus d&rsquo;un pouvoir, &agrave; l&rsquo;exception du Pr&eacute;sident.</p>

<p><span style="line-height:1.6em">Elle peut &eacute;galement se r&eacute;unir &agrave; la demande de la majorit&eacute; simple des membres l&rsquo;ayant notifi&eacute; aupr&egrave;s du Secr&eacute;taire g&eacute;n&eacute;ral.</span></p>

<h4>Article 10 - R&egrave;glement int&eacute;rieur</h4>

<p><span style="line-height:1.6em">Le Conseil d&rsquo;Administration peut &eacute;tablir un r&egrave;glement int&eacute;rieur, compl&eacute;tant les pr&eacute;sents statuts, dont l&rsquo;ex&eacute;cution revient au Bureau.</span></p>

<h4>Article 11 &ndash; Dissolution</h4>

<p>La dissolution du Collectif Confluence peut &ecirc;tre prononc&eacute;e par les 2/3 au moins des membres pr&eacute;sents ou repr&eacute;sent&eacute;s, lors de l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Extraordinaire sp&eacute;cialement convoqu&eacute;e &agrave; cet effet</p>

<p>Un liquidateur est nomm&eacute; et l&rsquo;actif restant &eacute;ventuellement apr&egrave;s apurement du passif sera remis de fa&ccedil;on &eacute;gale aux membres.</p>

<p>Le site internet du Collectif Confluence est ferm&eacute; et cesse toute activit&eacute;.</p>

<p><em style="line-height:1.6em">Les pr&eacute;sents statuts ont &eacute;t&eacute; approuv&eacute;s par l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Constitutive du 18 d&eacute;cembre 2011 &agrave; Lyon, et modifi&eacute;s par l&rsquo;Assembl&eacute;e G&eacute;n&eacute;rale Extraordinaire du 15 juillet 2013 &agrave; Lyon.</em></p>

<p>&nbsp;</p>

<p>Le Pr&eacute;sident&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Secr&eacute;taire g&eacute;n&eacute;ral&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Le Tr&eacute;sorier</p>

<p>Benoit Lucien VAILLOT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Alexandre RIGAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nicolas LEPRETRE</p>

<p>&nbsp;</p>

<p>Les Secr&eacute;taires r&eacute;gionaux</p>

<p>Antoine MAIRE pour le bureau de Paris</p>

<p>Zivile KALIBATAITE pour le bureau de Lyon</p>

<p>&nbsp;</p>

<p>Date d&rsquo;inscription au Journal Officiel de la R&eacute;publique Fran&ccedil;aise&nbsp;: 28 janvier 2012.</p>

<p>Identification R.N.A.&nbsp;: W691080288</p>
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>


	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('/bundles/collectifadmin/js/bootstrap-datepicker.js') }}"></script>
	
	<script type="text/javascript" src="/bundles/ckfinder/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/bundles/ckfinder/ckfinder.js"></script>
	<script type="text/javascript">
		CKFinder.setupCKEditor( null, '/bundles/ckfinder/' ) ;
	</script>

	<script>		
		$(function() {
	    	$( ".datePicker" ).datepicker({
				format: 'dd/mm/yyyy',
				weekStart: 1
			});
		});
	</script>
	
	</body>
</html>