<div class="menu-horizontal clearfix" style="border-top: 0px;margin-top: 0px;">
	<ul class="sf-menu">
		{% for d in domaines %}
			<li class="page_item"><a>{{ d.nom }}</a>
				<ul class="sub">
					<li class="page_item">
						<a href="{{ path('collectif_front_domaine', { 'titrePage': d.titrePage }) }}">Travaux/Publications</a>
					</li>
					<li class="page_item">
						<a>Chercheurs</a>
						<ul class="sub">
							{% for m in membres %}
								{% if d.id == m.domaine.id %}
								<li class="page_item">
									<a href="{{ path('collectif_front_chercheur', { 'id': m.id }) }}">{{ m.nom }} {{ m.prenom }}</a>
								</li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				</ul>
			</li>
		{% endfor %}
	</ul>
</div><!--// menu-horizontal-->