<div id="glob" style="float: right;width: 30%;">                       
		<div class="grid_4 widget">
			<div id="custom_posts-widget-3" class="widget custom_posts">
				<h2>Actualit&eacute;s</h2>
				<ul class='clean latest-posts'>
					{% for a in articles %}
						<li>
							{% if a.isArticle() %}
								<p><a href="{{ path('collectif_front_article', { 'alias': a.alias }) }}"><span>{{ a.datePublication|date('d/m/Y') }}</span> {{ a.titre }}</a>{{ a.resume | raw  }}</p>
							{% else %}
								<p><a href="{{ path('collectif_front_publication', { 'alias': a.alias }) }}"><span>{{ a.datePublication|date('d/m/Y') }}</span> {{ a.titre }}</a>{{ a.resume | raw  }}</p>
							{% endif %}
						</li>
						<hr/>
					{% endfor %}
					<hr>
					[<a href="{{ path('collectif_front_articles') }}">Archives</a>]<br><br>
				</ul>
			</div>
		</div><!--//grid4-->
		
		<div class="grid_4 widget" style="width: 360px;">
			<div id="text-4" class="widget widget_text">
				<h2 style="text-align: justify;">Partenaires</h2>
				{% for p in partenaires %}
					<p style="float: left;margin-right: 15px;"><a target="_blank" href="{{ p.lien }}">
					{% if p.height == 0 %}
						<img width="{{ p.width }}" src="{{ asset('upload/Partenaires/' ~ p.path)}}" alt="{{ p.nom }}"></a></p>
					{% elseif p.width == 0 %}
						<img height="{{ p.height }}" src="{{ asset('upload/Partenaires/' ~ p.path)}}" alt="{{ p.nom }}"></a></p>
					{% else %}
						<img height="{{ p.height }}" width="{{ p.width }}" src="{{ asset('upload/Partenaires/' ~ p.path)}}" alt="{{ p.nom }}"></a></p>
					{% endif %}
						
				{% endfor %}
			</div>
		</div><!--//grid4-->      
	</div>      
             