{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>{{ page.titre }}</h2>
<hr/>
<div class="textwidget">
	{% for p in partenaires %}
	<div>
		<strong>
			{{ p.nom }}
		</strong>
		<div style="text-align: justify; margin-bottom: -30px;">
			<a target="_blank" href="{{ p.lien }}">
				{% if image('upload/Partenaires/' ~ p.path).width > 500 and image('upload/Partenaires/' ~ p.path).width <= 624 and p.align == "center" %}
					<img width="624" align="{{ p.align }}" src="{{ image('upload/Partenaires/' ~ p.path) }}" alt="{{ p.nom }}">
				{% elseif image('upload/Partenaires/' ~ p.path).width <= 624 and p.align == "center" %}
					<img height="120" align="{{ p.align }}" src="{{ image('upload/Partenaires/' ~ p.path) }}" alt="{{ p.nom }}">
				{% else %}
					<img height="120" align="{{ p.align }}" src="{{ image('upload/Partenaires/' ~ p.path) }}" alt="{{ p.nom }}" style="margin-right: 20px;">
				{% endif %}
			</a>
			{{ p.description | raw }}
		</div>
	</div>
		<hr>
	{% endfor %}
</div>
{% endblock %}