{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>{{ page.titre }}</h2>
<div class="textwidget">
	<p> 
		{{ page.contenu | raw }}
	</p>
</div>

<div id="custom_posts-widget-3" class="widget custom_posts">
	<ul class="clean latest-posts">
		{% if articlesPage != null %}
			{% for a in articlesPage %}
			<li>
				<p><a href="{{ path('collectif_front_article', { 'alias': a.alias }) }}"><span>{{ a.datePublication|date('d/m/Y') }}</span> {{ a.titre }}</a>{{ a.resume | raw }}</p>
			</li>
			<hr>
			{% endfor %}
		{% endif %}
	</ul>
</div>

{% if page.album != null %}
	<div id="gallery">
		{% for p in page.album.photos %}
			{#<div style="float:left; margin-right: 7px;text-align:center;">
				<a href="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}" class="fancybox">
                    <img src="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}" style="height:100px !important;" alt="">
                </a>
			</div>
			<a class="fancybox" href="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}" data-fancybox-group="gallery" >
				<img src="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}" alt=""  style="height:100px !important;" />
			</a>#}
			<a rel="example_group" href="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}">
				<img alt="" src="/ckfinder/userfiles/images/Albums/{{ page.album.id }}/{{ p.path }}" style="height:100px !important;" />
			</a>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}