{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>{{ page.titre }}</h2>
<div class="textwidget">
	<p> 
		{{ page.contenu | raw }}
	</p>
</div>

<div id="custom_posts-widget-3" class="widget custom_posts">
	<ul class="clean latest-posts">
		{% if articlesPage != null %}
			{% for a in articlesPage %}
			<li>
				<p><a href="{{ path('collectif_front_article', { 'alias': a.alias }) }}"><span>{{ a.datePublication|date('d/m/Y') }}</span> {{ a.titre }}</a>{{ a.resume | raw }}</p>
			</li>
			<hr>
			{% endfor %}
		{% endif %}
	</ul>
</div>

{% endblock %}