{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>{{ page.titre }}</h2>
<div class="textwidget">
	<p> 
		{{ page.contenu | raw }}
	</p>

	{% for feed in feeds %}
		<div>
			<h5><a href="{{ feed.link }}" target="_blank">{{ feed.title }}</a></h5>
			<p style="text-align: justify;">{{ feed.content|slice(0,400)|raw }}...</p>
			<p style="font-size: 12px;"> Posté <em> le {{ feed.dateModified|date('d/m/Y') }}</em>&nbsp;
			</p>
		</div>
		<hr/>
	{% endfor %}

</div>

{% endblock %}