{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des articles</h1>

<div class="header-buttons">
	<input type="button" class="btn btn-success right" onclick="window.open('{{ path('collectif_articles_create') }}', '_parent');" value="Ajouter un article">
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Titre</th>
		<th>Catégorie</th>
		<th>Actif</th>
		<th>Supprimer</th>
	</tr>
{% for a in articles %}
	<tr>
<td><a class="btn" href="{{ path('collectif_articles_edit', { 'id': a.id }) }}"><i class="icon-edit"></i></a></td>
<td>{{ a.titre }}</td>
<td>{{ a.categorie.titre }}</td>
<td>
	{% if a.actif == 1 %}
		Actif
	{% else %}
		Inactif
	{% endif %}
</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer cet article ?')) { return false };" class="btn" href="{{ path('collectif_articles_delete', { 'id': a.id }) }}"><i class="icon-trash"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucun article n’a été trouvé.</td></tr>
{% endfor %}
</table>

{% endblock %}