{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des partenaires</h1>

<div class="header-buttons">
	<a class="btn btn-success right" href="{{ path('collectif_partenaires_create') }}"><i class="icon-plus-sign icon-white"></i>Ajouter un partenaire</a>
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Nom</th>
		<th>Ordre</th>
		<th>Supprimer</th>
	</tr>
{% for p in partenaires %}
	<tr>
<td><a class="btn" href="{{ path('collectif_partenaires_edit', { 'id': p.id }) }}"><i class="icon-edit"></i></a></td>
<td>{{ p.nom }}</td>
<td>{{ p.ordre }}</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer ce partenaire ?')) { return false };" class="btn btn-danger" href="{{ path('collectif_partenaires_delete', { 'id': p.id }) }}"><i class="icon-trash icon-white"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucun partenaire n’a été trouvé.</td></tr>
{% endfor %}
</table>

{% endblock %}