{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div id="text-3" class="widget widget_text">
	<h2>Publication</h2>
	<div class="textwidget">					  
		<div id="NewsPostDetailDate">
			{{ publication.datePublication|date('d/m/Y') }}
		</div>
		
		<h3 id="NewsPostDetailTitle">{{ publication.titre }}</h3>
		<hr id="NewsPostDetailHorizRule">

		<div id="NewsPostDetailContent">
			{{ publication.contenu|raw }}
		</div>

		<div id="NewsPostDetailCategory">
			<b>Catégorie&nbsp;:</b> 
			<a href="{{ path('collectif_front_domaine', { 'titrePage': publication.membre.domaine.titrePage }) }}">
				{{ publication.membre.domaine.nom }}
			</a>
		</div>

		<div id="NewsPostDetailAuthor">
			<b>Posté par&nbsp;:</b> 
			<a href="{{ path('collectif_front_chercheur', { 'alias': publication.membre.alias }) }}">
				{{ publication.membre.nom }} {{ publication.membre.prenom }}
			</a>
		</div>

	</div>
</div>

{% endblock %}					