{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div id="text-3" class="widget widget_text">
	<h2>Actualit&eacute;</h2>
	<div class="textwidget">					  
		<div id="NewsPostDetailDate">
			{{ publication.dateModification|date('d/m/Y') }}
		</div>
		
		<h3 id="NewsPostDetailTitle">{{ publication.titre }}</h3>
		<hr id="NewsPostDetailHorizRule">

		<div id="NewsPostDetailContent">
			{{ publication.contenu|raw }}
		</div>

		<div id="NewsPostDetailCategory">
			<b>Catégorie&nbsp;:</b> {{ publication.membre.domaine.nom }}
		</div>

		<div id="NewsPostDetailAuthor">
			<b>Posté par&nbsp;:</b> {{ publication.membre.nom }} {{ publication.membre.prenom }}
		</div>

	</div>
</div>

{% endblock %}					