<p><b>Email</b> : {{ user.email }}</p>
<p><b>Nom</b> : {{ user.nom }}</p>
<p><b>Prénom</b> : {{ user.prenom }}</p>
<p><b>Téléphone</b> : {{ user.telephone }}</p>
<p><b>Lieu</b> : {{ user.lieu }}</p>
<p><b>Statut</b> : {{ user.statut }}</p>
<p>
	<a class="btn btn-info" href="{{ path('collectif_cv_edit_compte') }}">Modifier</a>
</p>
