<p><b>Carnet de recherche</b> : {{ user.activiteNumerique }}</p>
<p><b>Site personnel</b> : {{ user.sitePersonnel }}</p>
<p><b>Sujet de recherche</b> : {{ user.sujetRecherche }}</p>
<p><b>Page de la structure</b> : {{ user.pageStructure }}</p>
<p><b>Compte Twitter</b> : {{ user.twitter }}</p>
<p><b>Compte Facebook</b> : {{ user.facebook }}</p>


<p>
	<a class="btn btn-info" href="{{ path('collectif_cv_edit_contact') }}">Modifier</a>
</p>
