<div class="header-buttons">
	<a class="btn btn-success right" href="{{ path('collectif_cv_create_interet') }}"><i class="icon-plus-sign icon-white"></i>Ajouter un objet de recherche</a>
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Libellé</th>
		<th>Ordre</th>
		<th>Supprimer</th>
	</tr>
{% for i in user.getInterets %}
	<tr>
		<td><a class="btn" href="{{ path('collectif_cv_edit_interet', { 'interetId': i.id }) }}"><i class="icon-edit"></i></a></td>
		<td>{{ i.libelle }}</td>
		<td>{{ i.ordre }}</td>
		<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer ce centre d'intérêt ?')) { return false };" class="btn btn-danger" href="{{ path('collectif_cv_delete_interet', { 'interetId': i.id }) }}"><i class="icon-trash icon-white"></i></a></td>
	</tr>
{% else %}
	<tr><td>Aucun objet de recherche n'a été trouvé.</td></tr>
{% endfor %}
</table>