{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des pages</h1>

<div class="header-buttons">	
	<a class="btn btn-success right" href="#chooseType" data-toggle="modal"><i class="icon-plus-sign icon-white"></i>Ajouter une page</a>
	
	<a class="btn btn-warning" class="btn btn-warning" href="{{ path('collectif_page_homepage', { 'parent': backlink }) }}">Retour</a>
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Titre</th>
		<th>Enfants</th>
		<th>Ordre</th>
		<th>Actif</th>
		<th>Supprimer</th>
	</tr>
{% for p in pages %}
	<tr>
<td><a class="btn" href="{{ path('collectif_page_edit', { 'id': p.id, 'parent': parent, 'type': p.typePage }) }}"><i class="icon-edit"></i></a></td>
<td>{{ p.titre }}</td>
<td><a class="btn" href="{{ path('collectif_page_homepage', { 'parent': p.id }) }}"><i class="icon-zoom-in"></i></a></td>
<td>{{ p.ordre }}</td>
<td>{% if p.actif %}
		<span class="label label-success">actif</span>
	{% else %}
		<span class="label label-warning">inactif</span>
	{% endif %}	
</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer cette page ?')) { return false };" class="btn btn-danger" href="{{ path('collectif_page_delete', { 'id': p.id, 'parent': parent }) }}"><i class="icon-trash icon-white"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucune page n’a été trouvée.</td></tr>
{% endfor %}
</table>

<!-- Modal -->
<div id="chooseType" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form action="{{ path('collectif_page_before_create') }}" method="post" class="form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Type de page</h3>
  </div>
  <div class="modal-body">
    <p>Quel type de page souhaitez vous créer ?</p>
    <select name="type">
		<option value="CONTENU">Contenu</option>
		<option value="LIEN">Lien de redirection</option>
		<option value="RSS">Flux RSS</option>
		<option value="CONTACT">Contact</option>
		<option value="BUREAU">Bureau</option>
		<option value="PARTENAIRES">Partenaires</option>
	</select>
    <input type="hidden" name="parent" value="{{ parent }}" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-success right" value="Créer" />
  </div>
</form>
</div>

{% endblock %}