{% extends 'CollectifFrontBundle::layout_inner-page.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div id="text-3" class="widget widget_text">
	<h2>Actualit&eacute;</h2>
	<div class="textwidget">					  
		<div id="NewsPostDetailDate">
			{{ article.datePublication|date('d/m/Y') }}
		</div>
		
		<h3 id="NewsPostDetailTitle">{{ article.titre }}</h3>
		<hr id="NewsPostDetailHorizRule">

		<div id="NewsPostDetailContent">
			{{ article.contenu|raw }}
		</div>

		<div id="NewsPostDetailCategory">
			<b>Catégorie&nbsp;:</b> {{ article.categorie.titre }}
		</div>

		<div id="NewsPostDetailAuthor">
			<b>Posté par&nbsp;:</b> Collectif Confluence
		</div>

	</div>
</div>
<hr/>
{% if article.album != null %}
	<div id="gallery">
		{% for p in article.album.photos %}
			<a style="text-decoration: none;" rel="example_group" href="/ckfinder/userfiles/images/Albums/{{ article.album.id }}/{{ p.path }}">
				<img alt="" src="/ckfinder/userfiles/images/Albums/{{ article.album.id }}/{{ p.path }}" style="height:100px !important; padding: 3px; border: 1px solid lightgray;" />
			</a>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}					