{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} : {{ user.username }}</p>
	<p>{{ 'profile.show.name'|trans({}, 'FOSUserBundle') }} : {{ user.nom }}</p>
	<p>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }} : {{ user.prenom }}</p>
	<p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} : {{ user.email }}</p>
	<p><img src="{{ asset('upload/Membres/' ~ user.path)}}" class="img-polaroid" /></p>
	<p>
		<input type="button" class="btn btn-info" onclick="window.open('{{ path('collectif_membre_edit_page', { 'id': app.user.id }) }}', '_parent');" value="Editer" />
	</p>

{% endblock %}