{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Liste des publications</h1>

<div class="header-buttons">
	<a class="btn btn-success right" href="{{ path('collectif_publication_create') }}"><i class="icon-plus-sign icon-white"></i>Ajouter une publication</a>
</div>

<table class="table table-hover">
	<tr>
		<th>Editer</th>
		<th>Titre</th>
		<th>Date de publication</th>
		<th>Auteur</th>
		<th>Actif</th>
		<th>Supprimer</th>
	</tr>
{% for p in publications %}
	<tr>
<td><a class="btn" href="{{ path('collectif_publication_edit', { 'id': p.id }) }}"><i class="icon-edit"></i></a></td>
<td>{{ p.titre }}</td>
<td>{{ p.datePublication|date('d/m/Y') }}</td>
<td>{{ p.membre.nom }} {{ p.membre.prenom }} ({% if p.membre.domaine != null %}{{ p.membre.domaine.nom }}{% endif %})</td>
<td>
	{% if p.actif == 1 %}
		<span class="label label-success">actif</span>
	{% else %}
		<span class="label label-warning">inactif</span>
	{% endif %}
</td>
<td><a onclick="if(!confirm('Voulez-vous vraiment supprimer cette publication ?')) { return false };" class="btn btn-danger" href="{{ path('collectif_publication_delete', { 'id': p.id }) }}"><i class="icon-trash icon-white"></i></a></td>
</tr>
{% else %}
	<tr><td>Aucune publication n’a été trouvée.</td></tr>
{% endfor %}
</table>

{% endblock %}