{% extends 'CollectifFrontBundle::layout_inner-domaine.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<h2>Travaux / Publications</h2>
<div class="textwidget">
	<p> 
		{{ domaine.description | raw }}
	</p>
	
	<p>&nbsp;</p>
	<div id="custom_posts-widget-3" class="widget custom_posts">
		<ul class="clean latest-posts">
			{% for p in publications %}
			<li>
				<p><a href="{{ path('collectif_front_publication', { 'alias': p.alias }) }}"><span>{{ p.datePublication|date('d/m/Y') }}</span> {{ p.titre }} <br>
					{{ p.resume | raw }}
				</a></p>
			</li>
			<hr>
			{% endfor %}
		</ul>
	</div>
</div>


{% endblock %}