{% extends 'CollectifFrontBundle::layout_index.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}
<div class="textwidget">
	{% if lastArticle != null %}
	<div id="NewsPostDetailDate">{{ lastArticle.datePublication|date('d/m/Y') }}</div>
	<h3 id="NewsPostDetailTitle">{{ lastArticle.titre }}</h3>
	<hr id="NewsPostDetailHorizRule">
	<div id="NewsPostDetailContent">
		{{ lastArticle.contenu | raw  }}
	</div>

	<div id="NewsPostDetailCategory">
		{% if lastArticle.isArticle() %}
			<b>Cat&eacute;gorie&nbsp;:</b> {{ lastArticle.categorie.titre }}
		{% else %}
			<b>Cat&eacute;gorie&nbsp;:</b> {{ lastArticle.membre.domaine.nom }}
		{% endif %}
	</div>
	<div id="NewsPostDetailAuthor">
		{% if lastArticle.isArticle() %}
			<b>Posté par&nbsp;:</b> Collectif Confluence
		{% else %}
			<b>Posté par&nbsp;:</b> {{ lastArticle.membre.nom }} {{ lastArticle.membre.prenom }}
		{% endif %}
		
	</div>
	{% endif %}
</div>

{% endblock %}