{% extends 'CollectifFrontBundle::layout_inner-domaine.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div id="text-3" class="widget widget_text">
	<h2>{{ membre.prenom }} {{ membre.nom }}</h2>
	<div class="textwidget">
		<hr>
		<table width="100%" cellspacing="1" cellpadding="1" border="0">
			<tbody>
				<tr>
					<td>
						{% if membre.path == null %}
							<img align="left" src="{{ image('bundles/collectiffront/images/ghost.png').resize(null, 138) }}" alt="" style="margin-right: 10px;" />
						{% else %}
							<img align="left" src="{{ image('upload/Membres/' ~ membre.path).resize(null, 138) }}" alt="" style="margin-right: 10px;" />
						{% endif %}
						{{ membre.contenuPage | raw  }}
					</td>
				</tr>
			</tbody>
		</table>
		
		<hr/>

		<div id="tabs">
		  <ul>
		    <li><a href="#tabs-1">Parcours</a></li>
		    <li><a href="#tabs-2">Publications</a></li>
		    <li><a href="#tabs-3">Divers</a></li>
		  </ul>
		  
		  
		  <div id="tabs-1">
		    {% if membre.mesCvs | length == 0 %}
		  		<p>Aucun CV pour ce membre</p>
		  	{% else %}
		  		<h3>CV</h3>
				{% if cv != null %}
					{% if cv.path != null %}
						<h4><a target="_blank" href="{{ asset('upload/CVTheque/' ~ cv.path)}}" >Télécharger PDF</a></h4>
						<a class="mediaSmall" href="{{ asset('upload/CVTheque/' ~ cv.path)}}" ></a>
					{% endif %}
				{% endif %}
			{% endif %}
		  </div>
		  
		  <!-- Publications tab -->
		  <div id="tabs-2">
		  	{% if membre.getPublications | length == 0 %}
		  		Aucune publication pour ce membre
		  	{% else %}
		  		<h3>Publications</h3>
			  	<div id="custom_posts-widget-3" class="widget custom_posts">
					<ul class="clean latest-posts">
						{% for p in membre.getPublications %}
						<li>
							<p><a href="{{ path('collectif_front_publication', { 'alias': p.alias }) }}"><span>{{ p.datePublication|date('d/m/Y') }}</span> {{ p.titre }} <br>
								{{ p.resume | raw }}
							</a></p>
						</li>
						<hr>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		  </div>
		  <!-- End publications tab -->
		  
		  <div id="tabs-3">
		    {% if membre.getInterets | length == 0 %}
		  		Aucun centre d'intérêts pour ce membre
		  	{% else %}
		  		<h3>Objets de recherche</h3>
			  	<div id="custom_posts-widget-3" class="widget custom_posts">
					{% for c in membre.getInterets %}
						<span class="label label-info">
							<a href="{{ path('collectif_front_membres_interets', { 'interet': c.libelle }) }}" style="color:white; text-decoration: none;">
								{{ c.libelle }}
							</a>
						</span>
					{% endfor %}
				</div>
			{% endif %}
			
			<h3 style="margin-top: 20px;">Contact</h3>
			Adresse mail : {{ membre.formatedEmail }}<br/>
			Tél : {{ membre.telephone }}
			
			<h3 style="margin-top: 20px;">Activité numérique</h3>
			{% if membre.twitter != null %}
			<a href="{{ membre.twitter }}" target="_blank" style="text-decoration: none; margin-right: 5px;">
				<img src="{{ asset('bundles/collectiffront/images/social_icons/Twitter-logo.png') }}" alt="twitter" height="30px" />
			</a>
			{% endif %}
			
			{% if membre.facebook != null %}
			<a href="{{ membre.facebook }}" target="_blank" style="text-decoration: none; margin-right: 5px;">
				<img src="{{ asset('bundles/collectiffront/images/social_icons/Facebook-logo.png') }}" alt="twitter" height="30px" />
			</a>
			{% endif %}
			
			{% if membre.activiteNumerique != null %}
			<a href="{{ membre.activiteNumerique }}" target="_blank" style="text-decoration: none; margin-right: 5px;">
				<img src="{{ asset('bundles/collectiffront/images/social_icons/Hypothese.png') }}" alt="twitter" height="30px" />
			</a>
			{% endif %}
			
			{% if membre.sitePersonnel != null %}
			<a href="{{ membre.sitePersonnel }}" target="_blank" style="text-decoration: none; margin-right: 5px;">
				<img src="{{ asset('bundles/collectiffront/images/social_icons/site.png') }}" alt="twitter" height="30px" />
			</a>
			{% endif %}
		  </div>
		  
		</div>
	</div>
</div>

{% endblock %}					