{% extends 'CollectifFrontBundle::layout_inner.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div id="text-3" class="widget widget_text">
	<h2>{{ membre.prenom }} {{ membre.nom }}</h2>
	<div class="textwidget">
		<hr>
		<table width="100%" cellspacing="1" cellpadding="1" border="1">
			<tbody>
				<tr>
					<td>
						<p><img align="left" src="{{ image('upload/Membres/' ~ membre.path).resize(null, 138) }}" alt="" /><strong>{{ membre.prenom }} {{ membre.nom }}</strong></p>
						{{ membre.contenuPage | raw  }}
					</td>
				</tr>
			</tbody>
		</table>
		<p>&nbsp;</p>
		<div id="custom_posts-widget-3" class="widget custom_posts">
			<ul class="clean latest-posts">
				{% for p in membre.getPublications %}
				<li>
					<p><a href=""><span>{{ p.dateModification|date('d/m/Y') }}</span> {{ p.titre }} <br>
						{{ p.resume | raw }}
					</a></p>
				</li>
				<hr>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}					