{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<div class="span7">	

<h2>Réseau CONFLUENCE</h2>

{% if disabled|length > 0 %}
	<div class="alert alert-block">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  Il y'a {{ disabled|length }} {% if disabled|length > 1 %}membres{% else %}membre{% endif %} en attente de confirmation
	</div>
{% endif %}

<p>
	{{ accueil | raw }}
</p>

</div>

<div class="span4">
	<div class="block img-rounded block-info">
		<p style="text-align:center;"><strong>Derniers articles publiés</strong></p>
		<center><hr width="70%" style="margin:0 0 5px 0;" /></center>
		<ul class="unstyled">
			{% for article in articles %}
				{% if article.isArticle() %}
					<li><span>{{ article.datePublication|date('d/m/Y') }}</span> - <a href="{{ path('collectif_front_article', { 'alias': article.alias }) }}" target="_blank">{{ article.titre }}</a></li>
				{% else %}
					<li><span>{{ article.datePublication|date('d/m/Y') }}</span> - <a href="{{ path('collectif_front_publication', { 'alias': article.alias }) }}" target="_blank">{{ article.titre }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="block img-rounded block-info">
		<p style="text-align:center;"><strong>Offres d'emplois, stages, bourses</strong></p>
		<center><hr width="70%" style="margin:0 0 5px 0;" /></center>
		<ul class="unstyled">
			{% for offre in offres %}
				<li><span>{{ offre.dateCreation|date('d/m/Y') }}</span> - <a href="{{ path('reseau_sousforum_offre_show', { 'id': offre.id }) }}">{{ offre.titre }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}