{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

	{% if is_granted("ROLE_SUPER_ADMIN") %}
		<div class="header-buttons">
			<a class="btn btn-success right" href="#createvisionneuse" data-toggle="modal"><i class="icon-plus-sign icon-white"></i>Nouveau reader</a>
		</div>
	{% endif %}

	<h1>{{ entity.titre }}</h1>
	
	{{ entity.description | raw }}

	<hr/>

	<h3>{{ entity.visionneuses | length }} documents</h3>
	
	<div style="margin-bottom: 100px;">
		{% for visionneuse in entity.visionneuses %}
			<div>
				<h5><a href="{{ path('reseau_sousforum_visionneuse_show', { 'id': visionneuse.id }) }}">{{ visionneuse.titre }}</a></h5>
				<p style="text-align: justify;">{{ visionneuse.resume }}</p>
				<p style="font-size: 12px;"> Posté par <strong><a href="{{ path('collectif_front_chercheur', { 'alias': visionneuse.membre.alias }) }}" target="_blank">{{ visionneuse.membre.prenom }} {{ visionneuse.membre.nom }}</a></strong>, 
					<em> le {{ visionneuse.dateCreation|date('d/m/Y') }}</em>&nbsp;
					{% if app.user.id == visionneuse.membre.id or is_granted("ROLE_SUPER_ADMIN") %}
					
						<a href="{{ path('reseau_sousforum_edit_visionneuse', { 'id': visionneuse.id }) }}"><i class="icon-pencil"></i> Editer</a>&nbsp;
						
						<a onclick="if(!confirm('Voulez-vous vraiment supprimer cette visionneuse ?')) { return false };" 
							href="{{ path('reseau_sousforum_delete_visionneuse', { 'id': visionneuse.id }) }}"><i class="icon-trash"></i> Supprimer</a>
					{% endif %}
				</p>
			</div>
			<hr/>
		{% endfor %}
	</div>
	
<!-- Modal -->
<div id="createvisionneuse" style="width: 750px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<form action="{{ path('reseau_sousforum_create_visionneuse', { 'sfId': entity.id }) }}" method="post" class="form-horizontal" enctype="multipart/form-data">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nouveau reader</h3>
  </div>
  <div class="modal-body">
	{{ form_widget(form) }}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    <input type="submit" class="btn btn-success right" value="Créer" />
  </div>
</form>
</div>	

{% endblock %}