{% extends 'CollectifAdminBundle::layout.html.twig' %}

{% block title %}Collectif CONFLUENCE{% endblock %}

{% block content %}

<h1>Mes statistiques de visite</h1>

<h3>Synthèse</h3>
<p>Nombre de visites totales : {{ stat }}</p>
<p>Nombre de visites aujourd'hui : {{ jour }}</p>
<p>Nombre de visites cette semaine : {{ semaine }}</p>
<p>Nombre de visites ce mois : {{ mois }}</p>
<p>Nombre de visites cette année : {{ annee }}</p>
<p>Visiteurs actifs sur ma page : {{ active }}</p>

{% endblock %}
